# OPENAI
OPENAI_API_KEY=
OPENAI_MODEL=

# PINECONE
PINECONE_API_KEY=
PINECONE_INDEX=

# COHERE
COHERE_API_KEY=

# POSTGRESQL
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# LANGSMITH TRACING
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
